<!DOCTYPE html>

<html>
<head>

<title>Adding Person</title>
</head>
<body>
	<form action="/addPerson" method="post">
		<table>
			<tr>
				<td>Enter the ID : </td><td><input type="text" id="id" name="id" /></td>
			</tr>
			<tr>
				<td>Enter the name :</td><td> <input type="text" id="name" name="name" /></td>
			</tr>
			<tr>
				<td>Enter the mark : </td><td><input type="text" id="mark" name="mark" /></td>
			</tr>
			<tr>
				<td>Enter the course : </td><td><input type="text" id="course"
					name="course" /></td>
			</tr>
			<tr>
				<td>Add : <input type="submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>